.yzn{
  display: flex;
  flex-direction: column;
  text-align-last: center;
  justify-content: center;
  margin: 15% auto;
  grid-gap: 30px;
  gap: 9px;
  
         

}
.accept-body{
  padding:4.5%;
  background-color: #f1f1f1;
}
.message{
  
    font-size: 20px;
    font-family: monospace;
    margin-top: 4%;
    margin-left: 43%;
}

.btnadd{
  width: 150px;
    height: 45px;
    border: none;
    background-color: #86cb6a;
    color: white;
    border-radius: 5px;
    margin: 0 auto;
}
.btnadd:hover{
  background-color:#5e924a;
}

.inpt1{
  width: 250px;
  height: 45px;
  background-color: white;
  color: rgb(0, 0, 0);
  border-radius: 5px ;
  margin: 0 auto;

}