.parant-Doctor {
    box-sizing: border-box;
    padding: 40px;
  }

  .childDoctor{
      width:270px;
      height: 470px;
      border-radius: 10px;
      box-shadow: 1px 1px 1px 1px rgb(168, 183, 189);
  }
.imag {
    width:100%;
    height:300px;
    border-radius: 10px;
}

  .imag img{
      height: 300px;
      width:100%;
      border-radius:10px 10px 0 0;
  }
  .par{
      
      position:absolute;
      justify-content: center;
      text-align: center;
      width:270px;
      height:150px;
      border-radius: 10px;
  }
  .par h2{
      margin:8px;
      
  }
  .par button{
margin-top: 20px;
border-radius: 10px;
width:150px;
height: 40px;
background-color: #33383b;
color:#fff;
font-size:larger;
  }
  .par button:hover{
cursor: pointer;
  }