.parent-doctor-page {
  background-color: #f1f1f1;
  height: 100%;
  padding-bottom: 60px;
}
.wrapper {
  display: flex;
  gap: 55px;
  margin-top: 40px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.card1 {
  margin-bottom: 40px;
  width: 300px;
  height: 550px;
  padding: 2rem 1rem;
  background: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.card1 img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease 0s;
  border-radius: 5px 5px 0 0;
}
.card1 img:hover {
  height: 62%;
}
.card1 .info {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  text-align: center;
}
.card1 .info .doctor-name p {
  font-size: 25px;
}

.card1:hover {
  background-color: rgb(141, 138, 138);
  color: white;
}
.parant-Doctor-search {
  margin-top: 100px;
  display: flex;
  gap: 50px;
}
.search-result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px black solid;
}
.Doctor-search {
  display: flex;
  flex-direction: column;
  width: 9%;
  margin: -10;
}
.filter-input {
  display: flex;
  grid-gap: 20px;
  grid-gap: 20px;
  gap: 5px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
}

.search {
  /* margin:auto;
  margin-top:100px; */
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row-reverse;
  width: 354px;
  /* margin-bottom:100px; */
}
.search img {
  width: 60px;
  height: 75px;
  border-radius: 100%;
}
.checkDiv {
  width: 18px;
  height: 18px;
}
.label1 {
  background: url("https://cdn.icon-icons.com/icons2/2566/PNG/512/search_icon_153438.png");
  cursor: pointer;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 5px;
  position: relative;
  background-color: #fff;
  border: 2px solid black;
  border-left: none;
  border-radius: 0 5px 5px 0;
}
.checkInp {
  opacity: 0;
  display: none;
}
.checkInp:checked + .label1 {
  background: url("https://i.pinimg.com/originals/a4/81/80/a481808f26b5fafe898f00679e168672.jpg");
  cursor: pointer;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 5px;
  position: relative;
  background-color: #fff;
  border-left: none;
}
#text {
  width: 100%;
  height: 40px;
  padding: 0px 0px 0px 10px;
  font-size: 16px;
  transition: all 0.3s;
  border: 2px solid black;
  border-right: none;
  border-radius: 5px 0 0 5px;
}
.label2::before {
  content: attr(title);
  position: absolute;
  top: 8px;
  left: 17px;
  color: grey;
  font-size: 16px;
  transition: all 0.2s;
  cursor: text;
  background: white;
  -webkit-user-select: none;
  user-select: none;
  padding: 0px;
}
#text:focus + .label2::before {
  top: -7px;
  font-size: 14px;
  color: grey;
  cursor: default;
}
#text:valid + .label2::before {
  content: attr(data-title);
  top: -7px;
  font-size: 14px;
  cursor: default;
  color: dodgerblue;
}

.input-filter {
  width: 60px;
  height: 40px;
  padding-left: 5px;
  border-radius: 5px;
}

.row-a {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10%;
}

.btn-inp {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.filter {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Filter-btn {
  width: 60px;
  height: 40px;
  border: none;
  background-color: #86cb6a;
  color: white;
  border-radius: 5px;
}

.Filter-btn:hover {
  background-color: rgba(150, 201, 61, 1);
}

.deleteDoctorbtn {
  width: 90px;
  height: 40px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.deleteDoctorbtn:hover {
  background-color: rgb(255, 0, 0);
}

/* Parallax CSS */
.background-oregon-grapes {
  background-image: url("https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: 70%;
  height: 22rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-left: auto;
  margin-right: auto;
}

/* Image CSS for your SVG */
img {
  height: 50%;
  width: 50%;
}
