@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

.doctor{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  margin:45px 0 0 0;
}
.parent{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:115px;
  margin-bottom: 20px;
}
.doctor-details{
  display: flex;
  flex-direction: column;
  margin-left:21px;
  margin-top: -87px;
  gap:15px;
  
}
.doctor-details span{
  font-weight: bold;

}
.doctor-details p{
  font-weight: 300px;
  font-size: 16px;
}
.rating{
  display: flex;
  
  margin-left:0;
  
  
}
.avgRating{
  margin-left: -70px;
}

.comment{
  
  margin-top: 80px;
  
}
.feedBack{
  width:330px;
  font-size: 32px;
  margin:0 auto;
  border-bottom:1.5px solid rgb(163, 160, 160);
}
.input-coment1{
margin-left: 49px;
margin-top:40px;
height: 100px;
width:800px;
resize: none;
border-radius: 5px;
}
 .img1{
border-radius: 5px;
}
.btnCommant{
  margin-top: 30px;
  border-radius: 5px;
  background-color: #5383d3;
  border: none;
  color: #fff;
  text-align: center; 
  width: 140px;
  padding: 8px;
  transition: all 0.5s;
  cursor: pointer;
  text-align: center;
  font-size:22px;
}


.doctor-details .btn-1 {
   font-family: Hack, monospace;
    background: #5383d3;
    color: #fff;
    cursor: pointer;
    font-size: 2em;
    padding: 1.5rem;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
    position: absolute;
    left: 79.2%;
    bottom: 242px; 
    margin-left: -433px;
    margin-top:50px;
}

.doctor-details .btn-1::after {
  content: "$";
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  position: absolute;
  left: 85%;
  top: 31%;
  right: 5%;
  bottom: 0;
  opacity: 0;
}
.doctor-details .btn-1:hover {
  background: #13139e;
  transition: all 0.5s;
  border-radius: 10px;
  box-shadow: 0px 6px 15px #00f 61;
  padding: 1.5rem 3.5rem 1.5rem 1.5rem;
}
.doctor-details .btn-1:hover::after {
  opacity: 1;
  transition: all 0.5s;
}

 .btnCommant:after {
  content: '»';
  
  opacity: 0;  
  top: 7px;
  right: -20px;
  transition: 0.5s;
} 

.btnCommant:hover{
  padding-right: 24px;
  padding-left:8px;
}

.btnCommant:hover:after {
  opacity: 1;
  right: 10px;
}

.parent-commint{
  margin-top: 100px;
  margin-right: 410px;
  display: flex;
  flex-direction: column;
}
.Reviews{
  width:330px;
  font-size: 32px;
  margin:0 auto;
  border-bottom:1.5px solid rgb(163, 160, 160);
}
.userImg{
  display: flex;
  flex-direction: row;
  padding: auto;
  margin-left: 20px;
  margin-top: 25px;
}
.userImg .commenterimg{
  height: 100px;
  width: 300px;
}
.commenterimg{
  margin-left: 174px;

}
.commenter-details{
  margin-left: 35px;
}
.cmt{
  position:flex;
  flex-direction:row;
}
.commenter{
  margin-top: 0px;
}
.commentRating{
  margin-top:25px;
  margin-right:115px;
}
.comments{
  margin-top:40px;
  padding-bottom:20px;
  width:330px;
  font-size: 32px;
  border-bottom:1.5px solid rgb(163, 160, 160);
}
