body {
  overflow-x: hidden;
}
.home {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
/* about section */
.About {
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fd;
}

.paragraph {
  margin-top: 2%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  row-gap: 20px;
}

.welcome {
  font-size: 12px;
  display: block;
  font-weight: 600;
  color: #1089ff;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-sizing: border-box;
}

.h3Section {
  font-family: inherit;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  box-sizing: border-box;
}

.pSection {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 400;
  color: gray;
  box-sizing: border-box;
}

.service-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 6%; */
  justify-content: center;
}
.service-page-p {
  color: black;
  font-size: 1.5rem;
  text-align: center;
  padding: 0;
  margin: 1% 20%;
  box-sizing: border-box;
  word-break: break-all;
}

.container-service {
  grid-template-columns: 50% 50%;
  display: grid;
  flex-direction: row;
}
.h1p {
  color: #002952;
  margin-left: 81px;
  margin-top: 140px;
  /* position: absolute; */
  top: 190px;
}

.img-service2 {
  height: 700px;
  width: 900px;
  margin-top: -85px;
}

.symbol-service {
  height: 110px;
  width: 100px;
}

.symbol-service2 {
  height: 131px;
  width: 265px;
}

.symbol-service3 {
  height: 112px;
  width: 180px;
}

.asdasdfafsdfsadf {
  display: grid;
  grid-column: 50%;
  gap: 20px;
}

.card-service {
  display: flex;
  flex-direction: column;
  grid-gap: 100px;
  grid-gap: 30px;
  gap: 30px;
  margin-left: 90px;
  justify-content: space-around;
}

.card-service-partenr {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}

.img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin-left: 1.8%;
  border-radius: 3px;
}

.img2 {
  box-sizing: border-box;
}

/* Story section */
.stories {
  background-color: #f8f9fd;
  box-sizing: border-box;
}

.hi {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6%;
  justify-content: center;
}

.storyCard {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.ul {
  display: flex;
  list-style-type: none;
  border: 1px solid white;
  border-radius: 5px;
  box-sizing: border-box;
  padding-right: 0rem 0rem;
  background-color: white;
  box-shadow: 0 0 15px rgb(0 0 0 / 5%);
  height: 250px;
  width: 40%;
  margin: 3% 3%;
  text-align: center;
  padding-left: 0rem;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.description {
  color: black;
  font-size: 1.5rem;
  text-align: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  word-break: break-all;
}

.name {
  display: flex;
  gap: 4%;
  font-family: sans-serif;
  font-size: 22px;
  color: #2245cf;
}

.nameDes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3%;
}

.storyImg {
  width: 30%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* Services */

.line {
  display: grid;
  text-align: center;
  margin-top: 200px;
}

.allServices {
  display: flex;
  flex-direction: row;
  align-items: center;

  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  margin: 5rem; */
}

.once {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 3%;
  gap: 2rem;
  text-align: center;
}

.servicesParagraph {
  font-family: "Poppins", Arial, sans-serif;
  background: #fff;
  font-size: medium;
  line-height: 1.8;
  font-weight: 400;
  color: rgb(92, 91, 91);
}

.serviceImg {
  height: 7rem;
  text-align: center;
  box-sizing: border-box;
}

/* footer */

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: -74px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Cookie", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #5383d3;
}

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
}

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }
}

.home-Img {
  background-image: url("https://hausarztpraxis-winkler.de/templates/yootheme/cache/header_1-c4f90bf4.jpeg");
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
  width: 100%;
}
.home-pp {
  font-size: 30px;
  color: rgb(85, 85, 85);
  /* position: absolute; */
  /* margin-top: 300px;
  margin-left: 81px; */
  width: 700px;
  height: 307px;
}
.card-home {
  margin: -140px auto;
}
.information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.info-1 {
  background-color: #95cf80;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 30%;
}
.info-2 {
  background-color: #84c26d;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 30%;
}
.info-3 {
  background-color: #76b65e;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 30%;
}

.icon-information1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: center;
  width: 100%;
}
.icon-information1 svg {
  height: 100px;
  width: 100px;
}
.icon-information1 p {
  width: 80%;
}

/* .icon-information {
  width: 100px;
  height: 100px;
}
.icon-information .info-1 .icon-information,
.info-2 .icon-information,
.info-3 .icon-information {
  margin-top: 65px;
  width: 100px;
  height: 100px;
}
.info-1 .icon-information svg {
  height: 2000px;
  width: 50px;
} */
/* .icon-information {
  width: 50px;
  height: 50px;
} */
/* .info-1 .icon-information,
.info-2 .icon-information,
.info-3 .icon-information {
  margin-top: 65px;
  width: 100px;
  height: 100px;
}
.info-1 p,
.info-2 p,
.info-3 p {
  color: white;
  /* width: 290px; */
/* margin: 50px auto; */
/* } */
*/

/* .icon-information1 {
  margin-top: 65px;
  width: 100px;
  height: 100px;
  margin-left: 170px;
}

.info-1 h3,
.info-2 h3,
.info-3 h3 {
  margin-top: 25px;
  word-break: break-all;
  color: white;
} */
/* .info-2 {
  width: 400px;
  height: 400px;
  background-color: #84c26d;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.info-3 {
  width: 400px;
  height: 400px;
  background-color: #76b65e;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.icon-information1 {
  /* margin: auto; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
/* } */
*/ */

/* pagination */

.pagination {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.liPagination {
  border: 1px solid white;
  border-radius: 5px;
  box-sizing: border-box;
  padding-right: 0rem 0rem;
  background-color: black;
  color: white;
  box-shadow: 0 0 15px rgb(0 0 0 / 5%);
  height: 30px;
  width: 30px;
  margin: 0.5%;
  text-align: center;
  padding-left: 0rem;
  cursor: pointer;
}

.OUR-DEPARTMENT {
  background-color: rgb(204, 211, 219);
}

.OUR-DEPARTMENT-h2 {
  margin-left: 40%;
  margin-top: 25px;
}

.OUR-DEPARTMENT-card {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-gap: 30px;
  gap: 30px;
  margin-left: 19%;
  margin-top: 60px;
  margin-bottom: 35px;
}

.OUR-DEPARTMENT-p {
  /* margin-left:10px; */

  font-size: 20px;
}

.OUR-DEPARTMENT-p2 {
  margin-left: 25px;
  font-size: 20px;
}
.decs-home {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 10%;
}
.decs-home h1 {
  color: #5e9948;
}
.decs-home p {
  width: 75%;
  font-size: 20px;
}

.decs-home button {
  background-color: #86cb6a;
  /* height: 6%; */
  width: 25%;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2% 0px;
  border: none;
  font-weight: bold;
}
.decs-home button:hover {
  background-color: #a6cc98;
}
