/* asp.net */
body{
  overflow-x: hidden; 
}
.home {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
/* about section */
.About {
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fd;
}

.paragraph {
  margin-top: 2%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  row-gap: 20px;
}

.welcome {
  font-size: 12px;
  display: block;
  font-weight: 600;
  color: #1089ff;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-sizing: border-box;
}

.h3 {
  font-family: inherit;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  box-sizing: border-box;
}

.p {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 400;
  color: gray;
  box-sizing: border-box;
}

.img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin-left: 1.8%;
  border-radius: 3px;
}

.img2 {
  box-sizing: border-box;
}

/* Story section */
.stories {
  background-color: #f8f9fd;
  box-sizing: border-box;
}

.hi{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6%;
  justify-content: center;
}

.storyCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
margin-left: 98px

}

.ul {
  display: flex;
  /* margin-top: 5rem; */
  list-style-type: none;
  border: 1px solid white;
  border-radius: 5px;
  box-sizing: border-box;
  padding-right: 0rem 0rem;
  background-color: white;
  box-shadow: 0 0 15px rgb(0 0 0 / 5%);
  height: 230px;
  width: 40%;
    margin: 3% 3%;
    /* grid-gap: 2rem;
    gap: 2rem; */
    text-align: center;
  padding-left: 0rem; 
  overflow-wrap: break-word;
  white-space: pre-wrap
}




.description{
color: black;
font-size: 1.5rem;
text-align: center;
padding: 0;
margin: 0;
box-sizing: border-box;
/* overflow-wrap: break-word;
white-space: pre-wrap; */
/* word-wrap: break-word */
/* white-space: pre-line */
word-break: break-all;
}

.name{
  display: flex;
  gap: 4%;
  font-family: sans-serif;
  font-size: 1.2rem;
  color: #0b1e68;
  /* align-self: flex-end; */
}

.nameDes{
display: flex;
flex-direction: column;
justify-content: space-between;
margin: 3%;
} 

.storyImg{
  width: 30%;
  height:100%;
  object-fit: cover;
  border-radius: 5px;
}


/* Services */

.line {
  display: grid;
  text-align: center;
}

.allServices {
  display: flex;
  flex-direction: row;
  align-items: center;

  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  margin: 5rem; */
}

.once {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:5% 3%;
  gap: 2rem;
  text-align: center;
  
}

.servicesParagraph{
  font-family: "Poppins",Arial,sans-serif;
  background: #fff;
  font-size: medium;
  line-height: 1.8;
  font-weight: 400;
  color: rgb(92, 91, 91);
}

.serviceImg {
  height: 7rem;
  text-align: center;
  box-sizing: border-box;
}

/* footer */

 .footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  
  padding: 55px 50px;
  margin-top: -74px;
 }
  
 .footer-distributed .footer-left,
 .footer-distributed .footer-center,
 .footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
 }
  
 .footer-distributed .footer-left{
  width: 40%;
 }
  
 .footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
 }
  
 .footer-distributed h3 span{
  color:  #5383d3;
 }
  
  
 .footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
 }
  
 .footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
 }
  
 .footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
 }
  
  
 .footer-distributed .footer-center{
  width: 35%;
 }
  
 .footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
 }
  
 .footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
 }
  
 .footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
 }
  
 .footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
 }
  
 .footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
 }
  
 .footer-distributed .footer-right{
  width: 20%;
 }
  
 .footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
 }
  
 .footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
 }
  
 .footer-distributed .footer-icons{
  margin-top: 25px;
 }
  
 .footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
  
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  
  margin-right: 3px;
  margin-bottom: 5px;
 }
  
  
 @media (max-width: 880px) {
  
  .footer-distributed{
  font: bold 14px sans-serif;
  
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
  display: block;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
  }
  
  .footer-distributed .footer-center i{
  margin-left: 0;
  }
  .main {
  line-height: normal;
  font-size: auto;
  }
  
 }

 /* slider  */

 .slide-container{
  height: 400px;
  width: 96.5%;
  margin: 0.7% 2% 10% 2%;   
  }
  .each-slide{
    height: 500px;
    width: 100%;  
  }
  .imageSlider{
      height: 100%;
      width:100%; 
     border-radius: 5px;
     background-position: center;
     background-size: cover;
  }