.conversation {
  height: 400px;
  width: 60%;
  overflow-y: scroll;
  margin-bottom: 25px;
  /* border-radius: 3px; */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin: auto;
  padding: 40px;
  padding-bottom: 40px;
  overflow-x: hidden;
  overflow-y: visible;
  /* background-image: linear-gradient(150, #23195a 10%, #ffffff 99%); */
  background-color: #ffffff;

  background-size: 100%;
}

.conversation::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #b9b5b8 0%, #71d1cc 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}

/* .message-r {
  float: right;
}
.message-l {
  float: left;
} */

.message-right {
  float: right;
  width: 60%;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  background-color: #9dd381;
  color: white;
  box-sizing: border-box;
  word-break: break-all;
}
.message-right p {
  float: right;
}
.width {
  width: 100%;
}
.message-left {
  border-radius: 10px;
  float: left;
  width: 60%;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  word-break: break-all;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: rgb(204, 203, 203);
  color: rgb(39, 36, 36);
}
.user-i {
  display: flex;
  flex-direction: row;
  background-color: #8ab478;
  width: 60%;
  margin: auto;
  margin-top: 20px;
}
.info-user {
  margin-left: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 15px 0px;
}

.info-user img {
  border-radius: 100%;
  height: 50px;
  width: 50px;
}

.info-user p {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-left: 7px;
}

.conversation-pa {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
  padding-bottom: 2.9%;
}

.input-message {
  margin: auto;
  display: flex;
  width: 60%;
}
.input-message input {
  margin: auto;
  width: 600%;
  border-radius: 5px;
  height: 40px;
  background-color: rgb(233, 232, 232);
}
.input-message button {
  border: none;
  background-color: #9dd381;
  color: white;
  padding: 0px 5px;
  border-radius: 2px;
}
.input-message button:hover {
  background-color: #8bb478;
}
.input-message img {
  width: 5%;
}
.conversation-pa {
  /* background-color: rgb(63, 56, 56); */
}
