.signup {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 500px;
  margin:20px auto;
  margin-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px;
}
.signup form {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: max-content;
  margin:15px auto;
}
.signup img {
  height: 40%;
  width: 50%;
}
.signup input {
  height: 3rem;
  width: 20rem;
  padding: 5px 7px;
}

.signup button {
  border: none;
  background-color:rgb(124, 201, 114) ;
  padding: 0.5rem 3rem;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.signup button:hover {
  background-color:#97d479 ;
}

.signup p {
  margin-top: "5px";
  font-weight: "bold";
  color: black;
}

.render {
  color: rgb(65, 79, 117);
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

.background1{
  background-color: #f1f1f1;
  padding-top: 1%;
  padding-bottom: 0.5%;
}