.asd card{

    display: flex;
    margin-left: 30px;
}


.element.style{
    margin-left: 30px;
}

.parant11{
    display: flex;
    gap: 30px;
    margin-left: 30px;
    margin-top: 50px;
    margin-left: 19%;
    margin-right: 0%;
    margin-bottom: 30px;
    flex-direction: column;
}

.text-muted{

    font-size: 30px;
    color: black;
    margin-left: 30px;
}
.desdoc{

    color: black;
    margin-left: 30px;
    margin-top: 30px;

}


.accdel{

    margin-top: 48px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 500px;
}