
.parennt-schedule{
    display: flex;
    gap: 30px;
}

.schedule-card{

    margin-top: 90px;
    margin-bottom: 30px;
    margin-left: 28%;
}

.card-img-schedule{

    height: 375px;
    width: 20px;
}