.story {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: #f1f1f1;
  padding-top: 1.7%;
}

.story-img {
  /* height: 90%;
  width: 90%;
  align-items: center; */
}

.story-img img {
    height: 33%;
    width: 100%;
    border-radius: 5px;
}

.story-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.story-input textarea {
  resize: none;
  padding: 10px 10px;
}
textarea {
  width: 650px;
  height: 130px;
  border-radius: 5px;
}
.story-input button {
  background-color: #90c873;
  color: white;
  border: none;
  padding: 10px 30px;
  gap: 7px;
  cursor: pointer;
  border-radius: 5px;
}
.story-input button:hover {
  background-color: #6c9c55;
}
