/* food tracker */
.food-tracker {
  margin: auto;
  
}

input {
  height: 30px;
  width: 200px;
}

.food{
  margin:auto;
  justify-content: center;
  background-color: #f1f1f1;
}

.datepicker{

  margin-top: 2%;
}

.input-date{
  display: flex;
  margin: auto;
  justify-content: center;
  
  padding-top: 3%;
}

.desc-food-tracker {
  display: flex;
  flex-direction: row;
  width: 13.3%;
  font-size: 1px;
  font-weight: 500;
  gap: 30px;
  background-color: rgb(238, 236, 236);
  color: black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: absolute;
  cursor: pointer;
  padding: 5px 4px;
}
.search-food {
  display: flex;
  flex-direction: row;
  gap: 2px;
  margin: 5px 0px 1px 0px;
}
.search-food button {
  background-color: #194a4e;
  border: none;
  padding: 2px 5px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}
/*profile*/
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 100px;
}
.buttons button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 500;
}
.buttons button:hover {
  background-color: rgb(83, 82, 82);
}
.buttons-child-1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.buttons-child-2 {
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
  gap: 10px;
  margin-left: 6%;
}
.profileImg {
  border-radius: 5px;
  height: 250px;
  width: 250px;
  margin-left: 50px;
  margin-top: 13px;
}
.buttons-child-2 button {
  width: 150px;
  height: 62px;
  background-color: rgb(10, 153, 153);
  border-radius: 5px;
}
.buttons-child-2 button:hover {
  background-color: rgb(14, 175, 175);
}

.profile {
  margin-top: 3%;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(252, 252, 252);
  width: 50%;
}
.profile img {
  /* border-radius: 100%; */
  height: 200px;
  width: 210px;
}

.profile-page {
  background-color: white;
}

.profile-info {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  grid-gap: 7px;
  gap: 7px;
  padding: 0 10px;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: 6%;
}
.profile-info p span {
  font-weight: bold;
}

/*update profile*/

.update-profile {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  /* gap: 7px; */
  align-items: center;
}

.update-profile-row {
  display: flex;
  flex-direction: row;

  align-items: center;
  margin-top: 35px;
}
.update-profile-info {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 10px;
  justify-content: flex-start;
  margin-bottom: 40px;
  width: 300px;
  margin-left: -130px;
}
.update-profile-desc {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 10px;
  justify-content: flex-start;
  margin-bottom: 25px;
  margin-left: -30px;
  width: 250px;
}

.update-profile-info input {
  border-radius: 5px;
  height: 40px;
  width: 300px;
  margin-left: -7px;
}

.update-profile button {
  border: none;
  background-color: black;
  cursor: pointer;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  width: 150px;
  margin-left: 40px;
}
.update-profile button:hover {
  background-color: green;
}
.profileImage {
  border-radius: 5px;
  height: 250px;
  width: 250px;
  margin-left: 50px;
}

/*food tracker*/

.food-profile {
  border-collapse: collapse;
  /* margin: 25px 0; */
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
  margin-top: 20px;
}
.food-profile table {
  margin: auto;
}

.food-profile thead {
  border-radius: 100px;
}
.food-profile thead tr {
  background-color: #19af8a;
  color: #ffffff;
  text-align: left;
}
.food-profile th,
.food-profile td {
  padding: 12px 15px;
  text-align: center;
}

.food-profile tbody tr {
  border-bottom: 1px solid #ffffff;
}


.food-profile tbody tr:last-of-type {
  border-bottom: 2px solid #ffffff;
}

.food-profile tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}


