.mb-3 {
}

.my-patient {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  align-items: center;
  gap: 4%;
  margin-left: 10%;
  margin-right: 0%;
  margin-top: 90px;
  margin-bottom: 30px;
}

.col-md-4 img {
  height: 300px;
  width: 200px;
}

.row {
  display: flex;
  flex-direction: row;
}
.col-md-8 {
  display: flex;
  flex-direction: column;
}

.center {
  margin: 30px 0 10px 300%;
  width: 200%;
}
.food {
  border-collapse: collapse;
  /* margin: 25px 0; */
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
  margin-top: 20px;
}
.food table {
  margin: auto;
}

.food thead {
  border-radius: 100px;
}
.food thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.food th,
.food td {
  padding: 12px 15px;
  text-align: center;
}

.food tbody tr {
  border-bottom: 1px solid #dddddd;
}

.food tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.food tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.food tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
