.my-doc-card-p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* text-overflow: ellipsis; */
  /* width: calc(80%); */
  gap: 30px;
  background-color: #f1f1f1;
  flex: 1;
  /* height: 100%; */
  padding-bottom: 100%;
}
.my-doc-card {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-overflow: ellipsis;
  /* width: calc(80%); */
  gap: 10px;
}

.carddoctor {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
}

.carddoctor:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.containerdoc {
  padding: 2px 16px;
}

.btn-card {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.p-my-doc {
  color: darkgrey;
  word-break: break-all;
  font-size: 30px;
}
