@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navBar {
  background-color: rgb(62 64 67);
  box-shadow: rgb(110 110 110 / 24%) 0px -27px -9px;
  display: flex;
  flex-direction: row;
  height: 92px;
  justify-content: space-between;
  list-style: none;
  padding: 29px 32px;
}

.logo {
  font-family: "Cookie", cursive;
  font-size: 15px;
  color: rgb(216, 215, 215);
  height: 50px;
}
.logo-img{
  margin-top: -60px;
  width: 250px;
  height: 190px;
  margin-left:-60px ;
  
}

.logo span {
  color: #5383d3;
  font-family: "Cookie", cursive;
}
.nav {
  text-decoration: none;
}

.nav ul {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  gap: 20px;
  list-style-type: none;
  color: white;
  text-decoration: none;
}

.nav ul li a {
  color: white;
  text-decoration: none;
}

.nav ul li a:hover {
  color: royalblue;
}
