@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navBar {
  background-color: rgb(89 96 108);
  display: flex;
  flex-direction: row;
  height: 125px;
  justify-content: space-between;
  list-style: none;
  padding: 45px 32px;
  border: 2px solid rgb(93 103 119);
}

.logo {
  font-family: "Cookie", cursive;
  font-size: 15px;
  color: rgb(216, 215, 215);
  height: 50px;
}

.logo-img{
  margin-top: -49px;
  width: 125px;
  height: 125px;
  margin-left: -12px;
}

.logo span {
  color: #5383d3;
  font-family: "Cookie", cursive;
}
.nav {
  text-decoration: none;
}

.nav ul {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  gap: 20px;
  list-style-type: none;
  color: white;
  text-decoration: none;
}

.nav ul li a {
  color: white;
  text-decoration: none;
}

.nav ul li a:hover {
  color: royalblue;
}
