@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navBar {
  background-color: #33383b;
  box-shadow: rgba(110, 110, 110, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 30px 20px;
}

.logo {
  font-family: "Cookie", cursive;
  font-size: 15px;
  color: rgb(216, 215, 215);
  height: 50px;
}
.logo-img{
  margin-top: -60px;
  width: 250px;
  height: 190px;
  margin-left:-60px ;
  
}

.logo span {
  color: #5383d3;
  font-family: "Cookie", cursive;
}
.nav {
  text-decoration: none;
}

.nav ul {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  gap: 15px;
  list-style-type: none;
  color: white;
  text-decoration: none;
}

.nav ul li a {
  color: white;
  text-decoration: none;
  /* font-size: 1rem; */
}

.nav ul li a:hover {
  color: royalblue;
}
