.book-card{
 display: grid;
 grid-template-columns: 30% 30% 30%;
gap: 30px;
margin-top: 15px;
margin-left: 14%;
margin-bottom: 50px;
}

.parent-book{

    margin-bottom: 30px;
}

.card-img-book{

    height: 300px;
    width: 90%;
}
.background6{

    background-color: #f1f1f1;
    padding-top: 2%;
    padding-bottom: 4.5%;
}