.join-doctor form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  gap: 0.4rem;
}
.join-doctor {
  text-align: center;
  margin-top: 3rem;
  width: inherit;
}

.join-doctor form input {
  width: 30%;
  height: 3rem;
  border-radius: 2px;
}

.join-doctor form button {
  width: 120px;
  height: 62px;
  background-color: #90c873;
  border-radius: 5px;
  color: white;
  border: none;
}

.join-doctor form button:hover {
  background-color: #85bb69;
}

.background2{

  background-color:#f1f1f1;
  padding-top: 1.5%;
}
