.signup {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: max-content;
  padding: 8rem 5rem;
  margin: auto;
  margin-top: 7rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px;
}
.signup input {
  height: 3rem;
  width: 20rem;
  padding: 5px 7px;
}

.signup button {
  border: none;
  background-color: black;
  padding: 0.5rem 3rem;
  color: white;
  cursor: pointer;
}
.signup button:hover {
  background-color: rgb(83, 83, 83);
}

.signup p {
  margin-top: "5px";
  font-weight: "bold";
  color: black;
}

.render {
  color: rgb(51, 47, 47);
  text-decoration: none;
}
